.header{
    &__links{
        display: flex;
        justify-content: center;
        gap: 24px;
        padding: 18px 0;
        border-bottom: 1px solid #000;
    }

    &__link a{
        color: #000;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
    }
}